#root {    
  text-align: center;
  /* background-color:rgba(22, 31, 39, 0.85); */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img2.jpg'); 
  background-position: center;
  background-repeat: none;
  background-size: cover;  
}

