.divFormReductor{
    padding:75px 30px 25px 30px !important;
    box-shadow: inset 4em 1em #6a6464 !important; 
    width: 600px !important;   
    
}

label{
    font-weight: bolder !important;
    font-size: large !important;
    color: rgba(var(--bs-info-rgb),var(--bs-bg-opacity)) !important;
}

form button{
    font-size: large !important;
    
}